.button {
    display: inline-block;
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    border-radius: 2px;
    padding: 0.48rem 0.8rem !important;
    line-height: 1.4 !important;
    position: relative;
    text-transform: uppercase;
}
label,input  {
 display:block;
 margin-bottom: 5px;
 
 }


.form-style input[type=text], .form-style input[type=password] {
 height: 28px;
 border-radius: 4px;
 border:1px solid #BEBEBE;
}
.form-style, h2, nav {
    margin:10px auto;
    max-width: 50%;
 
    padding: 20px 12px 10px 20px;
}
.form-style input[type=submit]:hover{
	background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style {
	 font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



.navli {
    display: inline;
}

